<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h5>Sobre Nosotros</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero quis vel nihil neque repellendus quod enim porro, magni suscipit dolorum, natus eum fugit id, necessitatibus nisi aspernatur cumque dolores quia.</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>Síguenos</h5>
                <div class="social-icons">
                    <!-- Icono facebook bootstrap -->
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <!-- Icono instagram bootstrap -->
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <!-- Icono twitter bootstrap -->
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-lg-4 text-end">
                <h5>Contacto</h5>
                <p>Email: bio-gallery@bio.com<br>
                Tel: (010) 010-0101</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p class="text-muted">© 2025 Bio. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>