
{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Bio-Gallery Galeria{% endblock %}

{% block content %}
<!-- Contenido Principal -->
<div class="main-content">
    <div class="container py-4">
        <div class="row mb-4">
            <div class="col">
                <h2 class="text-center">Colección de Fotos</h2>
                <p class="text-center text-muted">Explora nuestra galería de imágenes</p>
            </div>
        </div>

        <div class="row">
            {% for imagen in imagenes %}
            <div class="col-md-4">
                <div class="thumbnail-card">
                    <div class="thumbnail-img">
                        <img src="{{ imagen.imageurl }}" alt="{{ imagen.nombre }}" class="img-fluid open-modal"
                            data-image="{{ imagen.imageurl }}" data-description="{{ imagen.descripcion }}" data-pregunta="{{ imagen.pregunta }}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal -->
<div id="imageModal" class="image-modal">
    <div class="modal-content-wrapper">
        <span class="close-modal">&times;</span>
        <img id="modalImage" class="modal-image" src="" alt="Modal Image">        
        <div id="modalDescription" class="modal-description"></div>
        <div id="modalQuestion" class="modal-question mb-3"></div>
        <div class="modal-buttons text-center mt-3">
            <button type="button" class="btn btn-success me-2">Sí</button>
            <button type="button" class="btn btn-danger">No</button>
        </div>
    </div>
</div>
{% endblock %}