html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

body {
    min-height: 100vh;
}

/* Estilos generales */
.thumbnail-card {
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
}

.thumbnail-card:hover {
    transform: translateY(-5px);
}

.thumbnail-img {
    width: 100%;
    height: 200px;
    background-color: #5a2bc8; /* backgroung tarjetas */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
}

.action-buttons button {
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
}

.time-indicator {
    color: #6c757d;
    font-size: 0.875rem;
}

/* Estilos de la navbar */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Estilos del contenido principal */
.main-content {
    min-height: calc(100vh - 250px);
}

/* Estilos del footer */
.footer {
    background-color: #f8f9fa;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
    position: sticky;
}


.social-icons {
    font-size: 1.5rem;
}

.social-icons a {
    color: #6c757d;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #0d6efd;
}

/* Estilos del modal */
.image-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    overflow: auto;
}

.modal-content-wrapper {
    margin: auto;
    width: 80%;
    max-width: 900px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

.modal-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}

.modal-description {
    color: #333;
    padding: 15px;
    background-color: white;
    border-radius: 0 0 8px 8px;
}

.close-modal {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #333;
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.thumbnail-img:hover {
    opacity: 0.9;
    cursor: pointer;
}